.venv
.idea
./build
./dist

./app.spec

/build/app/Analysis-00.toc
/build/app/app.exe
/dist/app.exe
/build/app/app.pkg
/app.spec
/build/app/base_library.zip
/build/app/COLLECT-00.toc
/build/app/EXE-00.toc
/build/app/PKG-00.toc
/build/app/PYZ-00.pyz
/build/app/PYZ-00.toc
/build/app/warn-app.txt
/build/app/xref-app.html
